---
import social from "../../../.astropod/social.config.json";
import TwitterIcon from "../icons/twitterIcon.astro";
import YoutubeIcon from "../icons/youtubeIcon.astro";
import TelegramIcon from "../icons/telegramIcon.astro";
import FacebookIcon from "../icons/facebookIcon.astro";
import InstagramIcon from "../icons/instagramIcon.astro";
import NewsletterIcon from "../icons/newsletterIcon.astro";
import LinkedinIcon from "../icons/linkedinIcon.astro";
import GithubIcon from "../icons/githubIcon.astro";


import ExternalLinkIcon from "../icons/externalLinkIcon.astro";

let hasSocial = false 

for (const key in social) {
  if (social[key]){
    hasSocial = true;
    break;
  }
}
---
{hasSocial && (
<div class="dropdown dropdown-hover dropdown-end">
  <label tabindex="0" class="btn btn-ghost m-1 px-2 sm:px-4">
    <ExternalLinkIcon />
    <span class="hidden md:inline-block">Follow us</span>
  </label>
  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
    {social.instagram && (<li><a href={social.instagram}><InstagramIcon />Instagram</a></li>)}
    {social.facebook && (<li><a href={social.facebook}><FacebookIcon />Facebook</a></li>)}
    {social.twitter && (<li><a href={social.twitter}><TwitterIcon />Twitter</a></li>)}
    {social.youtube && (<li><a href={social.youtube}><YoutubeIcon />Youtube</a></li>)}
    {social.github && (<li><a href={social.github}><GithubIcon />Github</a></li>)}
    {social.telegram && (<li><a href={social.telegram}><TelegramIcon />Telegram</a></li>)}
    {social.linkedin && (<li><a href={social.linkedin}><LinkedinIcon />Linkedin</a></li>)}
    {social.newsletter && (<li><a href={social.newsletter}><NewsletterIcon />Newsletter</a></li>)}
  </ul>
</div>
)}


