---
import astropodConfig from "../../../.astropod/astropod.config.json";
const { title, subtitle, explicit, cover } = Astro.props;

import ListenOnMenu from "./listenOnMenu.astro";
import FollowUsMenu from "./followUsMenu.astro";
import RssIcon from "../icons/rssIcon.astro";
import HeartIcon from "../icons/heartIcon.astro";

const explicitLabel = explicit === undefined ? astropodConfig.explicit : explicit;
let cover_url = cover ? cover : astropodConfig.cover;
---

<div class="card min-w-full bg-base-100 shadow-md md:pb-3 w-full">
  <div class="aspect-[3/1] mt-5 w-full">
    <div class="relative inline-block w-full">
      <img src={astropodConfig.banner} alt={astropodConfig.name + " banner"} class="object-cover w-full aspect-[3/1]" />
      <div
        class="absolute top-0 left-0 items-center justify-center w-full h-full bg-gradient-to-t from-gray-900 to-50% to-transparent"
      >
        <div class="flex flex-col absolute bottom-0 left-32 md:left-52 px-3">
          <p class="mb-1 text-xs font-medium text-white">{subtitle}</p>
          <h1 class="mb-3 text-lg md:text-4xl font-black text-white">{title}</h1>
        </div>
      </div>
      {
        explicitLabel && (
          <span class="text-[10px] md:text-xs font-medium text-white border inline px-2 m-2 absolute top-0 right-0">
            EXPLICIT
          </span>
        )
      }
    </div>
    <img
      alt={astropodConfig.name + "cover"}
      class="-mt-28 mx-6 md:-mt-28 border-4 z-10 relative border-base-100 rounded-lg md:mx-11 w-24 h-24 md:h-40 md:w-40"
      src={cover_url}
    />
  </div>

  <div class="flex md:-mt-12 px-4 md:pl-52">
    <a href="/" class="btn btn-ghost m-1 justify-self-start px-2 sm:px-4"> Home</a>
    <a href="/about" class="btn btn-ghost m-1 justify-self-end px-2 sm:px-4"> About</a>

    <div class="grow"></div>

    <ListenOnMenu />

    <FollowUsMenu />

    {
      astropodConfig.fundingUrl && (
        <a
          href={astropodConfig.fundingUrl}
          class="btn btn-ghost btn-square m-1 sm:w-12 w-10 "
          title={astropodConfig.fundingText}
        >
          <HeartIcon />
        </a>
      )
    }

    <a href="/rss.xml" class="btn btn-ghost btn-square m-1 sm:w-12 w-10" title="RSS Feed">
      <RssIcon />
    </a>
  </div>
</div>
