---
import listenOn from "../../../.astropod/listenOn.config.json";
import GooglePodcastIcon from "../icons/googlePodcastIcon.astro";
import SpotifyIcon from "../icons/spotifyIcon.astro";
import ApplePodcastIcon from "../icons/applePodcastIcon.astro";
import HeadphoneIcon from "../icons/headphoneIcon.astro";
import PocketcastsIcon from "../icons/pocketcastsIcon.astro";
import IvooxIcon from "../icons/ivooxIcon.astro";
import AmazonMusicIcon from "../icons/amazonMusicIcon.astro";
import FountainIcon from "../icons/fountainIcon.astro";
import DeezerIcon from "../icons/deezerIcon.astro";
import EasyPodcastIcon from "../icons/easyPodcastIcon.astro";
import AcastPodcastsIcon from "../icons/acastPodcastsIcon.astro";

let hasListenOn = false 

for (const key in listenOn) {
  if (listenOn[key]){
    hasListenOn = true;
    break;
  }
}
---

{hasListenOn && (
  <div class="dropdown dropdown-hover dropdown-end">
    <label tabindex="0" class="btn btn-ghost m-1 px-2 sm:px-4">
      <HeadphoneIcon />
      <span class="hidden md:inline-block">Listen on</span>
    </label>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
      {listenOn.googlePodcast && (<li><a href={listenOn.googlePodcast}><GooglePodcastIcon />Google Podcast</a></li>)}
      {listenOn.applePodcast && (<li><a href={listenOn.applePodcast}><ApplePodcastIcon />Apple Podcast</a></li>)}
      {listenOn.spotify && (<li><a href={listenOn.spotify}><SpotifyIcon />Spotify</a></li>)}
      {listenOn.easyPodcast && (<li><a href={listenOn.easyPodcast}><EasyPodcastIcon />Easy Podcast</a></li>)}
      {listenOn.amazonMusic && (<li><a href={listenOn.amazonMusic}><AmazonMusicIcon />Amazon Music</a></li>)}
      {listenOn.ivoox && (<li><a href={listenOn.ivoox}><IvooxIcon />Ivoox</a></li>)}
      {listenOn.pocketcasts && (<li><a href={listenOn.pocketcasts}><PocketcastsIcon />Pocketcasts</a></li>)}
      {listenOn.fountain && (<li><a href={listenOn.fountain}><FountainIcon />Fountain</a></li>)}
      {listenOn.deezer && (<li><a href={listenOn.deezer}><DeezerIcon />Deezer</a></li>)}
      {listenOn.acastPodcasts && (<li><a href={listenOn.acastPodcasts}><AcastPodcastsIcon />Acast Podcasts</a></li>)}
    </ul>
  </div>
)}
