---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";

const books = [
    {
        title: "Breath: The New Science of a Lost Art by James Nester",
        image: "../books/breathe.jpg",
        url: "https://amzn.to/3YZvnOk",
        episode: 1
    },
    {
        title: "Quiet: The Power of Introverts in a World That Can't Stop Talking by Susan Cain",
        image: "../books/quiet.jpg",
        url: "https://amzn.to/3YXQQXO",
        episode: 1
    },
    {
        title: "Educated: A Memoir by Tara Westover",
        image: "../books/educated.jpg",
        url: "https://amzn.to/3YZe0wZ",
        episode: 2
    },
    {
        title: "Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones by James Clear",
        image: "../books/atomic.jpg",
        url: "https://amzn.to/3Elwpe1",
        episode: 2
    },
    {
        title: "Engineering Management for the Rest of Us by Sarah Dresner",
        image: "../books/management.jpg",
        url: "https://amzn.to/45vtYSf",
        episode: 3
    },
    {
        title: "Full Catastrophe Living, Revised Edition: How to cope with stress, pain and illness using mindfulness meditation by Jon Kabat-Zinn",
        image: "../books/catastrophe.jpg",
        url: "https://amzn.to/3R39DyY",
        episode: 3
    },
    {
        title: "Nonviolent Communication -- A Language of Life: Life-Changing Tools for Healthy Relationships (Nonviolent Communication Guides) by Marshall B. Rosenberg",
        image: "../books/nonviolent.jpg",
        url: "https://amzn.to/3L6t326",
        episode: 4
    },
    {
        title: "Lean In: Women, Work, and the Will to Lead by Sheryl Sandberg",
        image: "../books/leanin.jpg",
        url: "https://amzn.to/3qSgIIf",
        episode: 5
    },
    {
        title: "Never Split the Difference: Negotiating as if Your Life Depended on It by Chris Voss and Tahl Raz",
        image: "../books/neversplit.jpg",
        url: "https://amzn.to/45Dzm5F",
        episode: 5
    },
    {
        title: "Shoe Dog: A Memoir by the Creator of NIKE",
        image: "../books/shoe.jpg",
        url: "https://amzn.to/3ZpCLTe",
        episode: 6
    },
    {
        title: "Steve Jobs: The Exclusive Biography by Isaacson, Walter",
        image: "../books/steve.jpg",
        url: "https://amzn.to/3Rtbz48",
        episode: 6
    },
    {
        title: "Trust in Alfa: 7 Simple Rules for Success",
        image: "../books/alfie.jpg",
        url: "https://amzn.to/3LyXgr4",
        episode: 6
    },
    {
        title: "Think And Grow Rich",
        image: "../books/think.jpg",
        url: "https://amzn.to/3RCErXA",
        episode: 6
    },
    {
        title: "The 7 Habits Of Highly Effective People: Revised and Updated: 30th Anniversary Edition",
        image: "../books/seven.jpg",
        url: "https://amzn.to/3PJ00EF",
        episode: 6
    },
    {
        title: "Ready player one ",
        image: "../books/player.jpg",
        url: "https://amzn.to/3PMA9eV",
        episode: 6
    },
    {
        title: "The Power of Positive Leadership: How and Why Positive Leaders Transform Teams and Organizations and Change the World (Jon Gordon)",
        image: "../books/positive.jpg",
        url: "https://amzn.to/3PSUmA1",
        episode: 7 
    },
    {
        title: "Mirror Mirror: 5 Reflections to Clear the Fog and Help You Shine",
        image: "../books/julienee.jpg",
        url: "https://amzn.to/3EZRwmh",
        episode: 7 
    },
    {
        title: "All It Takes Is a Goal: The 3-Step Plan to Ditch Regret and Tap Into Your Massive Potential",
        image: "../books/allittakes.jpg",
        url: "https://amzn.to/46lrG8J",
        episode: 7 
    },
    {
        title: "The Five Dysfunctions of a Team: A Leadership Fable",
        image: "../books/5-team.jpg",
        url: "https://amzn.to/3s33oBm",
        episode: 8
    },
    {
        title: "The Advantage: Why Organizational Health Trumps Everything Else In Business",
        image: "../books/advantage.jpg",
        url: "https://amzn.to/3SdmW0C",
        episode: 8
    },
    {
        title: "Punished By Rewards",
        image: "../books/punished.jpg",
        url: "https://amzn.to/3s1adU1",
        episode: 8
    },
    {
        title: "Atlas of the Heart: Mapping Meaningful Connection and the Language of Human Experience",
        image: "../books/atlas.jpg",
        url: "https://amzn.to/3TbEk6g",
        episode: 9
    },
    {
        title: "Turn The Ship Around!: A True Story of Turning Followers Into Leaders",
        image: "../books/ship.jpg",
        url: "https://amzn.to/47GgoeI",
        episode: 10
    },
    {
        title: "Into the Planet: My Life as a Cave Diver by Jill Heinerth",
        image: "../books/into.jpg",
        url: "https://www.amazon.co.uk/Into-Planet-Life-Cave-Diver/dp/0062691554/ref=sr_1_1?crid=3BZZFCFGSMADD&keywords=into+the+planet&qid=1706432135&sprefix=into+the+planet%2Caps%2C69&sr=8-1",
        episode: 11
    },
    {
        title: "Reinventing Organizations",
        image: "../books/reinvent.jpg",
        url: "https://www.amazon.co.uk/Reinventing-Organizations-Creating-Inspired-Consciousness/dp/2960133501/ref=sr_1_1?crid=3QMEKI9E1X9AM&keywords=reinventing+organisations&qid=1707316888&sprefix=reinvi%2Caps%2C310&sr=8-1",
        episode: 12
    }
    ,
    {
        title: "Accelerate: The Science of Lean Software and Devops",
        image: "../books/acce.jpg",
        url: "https://www.amazon.co.uk/Accelerate-Software-Performing-Technology-Organizations/dp/1942788339",
        episode: 12
    }
    ,
    {
        title: "Leadership Is Language:",
        image: "../books/lang.jpg",
        url: "https://www.amazon.co.uk/Leadership-Language-Hidden-Power-What/dp/0241373662/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1707317011&sr=8-2",
        episode: 12
    }
]

---

<EpisodeLayout hideSmallCover={true} title="Bookshelf" description={astropodConfig.description} cover="../bookshelf.png">
    Welcome to the TLD Bookshelf. In each episode we ask our guests to recommend a book and here they all are for you to purchase and read.
    <div class="grid grid-cols-5 gap-2">
        { 
            books
            .sort((a,b) => b.episode - a.episode)
            .map((book, index) => (
                <a href={book.url} target="_blank">
                    <img class="hover:-skew-x-1" src={book.image} alt={book.title} />
                </a>    
            ))
        }
    </div>
</EpisodeLayout>