---
const { title, cover, desc, url, audioUrl, id, pubDate, duration } = Astro.props;

import { Image } from "@astrojs/image/components";
import astropodConf from "../../astropod.conf.cjs";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(localizedFormat);

import PlayIcon from "./icons/playIcon.astro";
import PauseIcon from "./icons/pauseIcon.astro";

let cover_url = cover ? cover : astropodConf.cover;
const displayDate = dayjs(pubDate).format("ll");
---

<div class="">
  <div class="hero-content flex-row">
    <Image src={cover_url} aspectRatio="1:1" width={100} format="webp" alt={title} class="shadow-lg rounded-md" />
    <div class="grow w-full">
      <h2 class="text-xl font-semibold">
        {title}
      </h2>
      <p class="text-sm font-medium opacity-60">
        {duration && duration + " • "}
        {displayDate}
      </p>
      <p class="py-1 text-1xl">{desc}</p>
    </div>
    <label class="btn btn-circle mx-2 swap">
      <input type="checkbox" class="card-pay-buttons" id={id} data-audio-url={audioUrl} />
      <div class="swap-off">
        <PlayIcon />
      </div>
      <div class="swap-on">
        <PauseIcon />
      </div>
    </label>
  </div>
  <hr class="my-3 border-base-content opacity-[.15]" />
</div>
