---
const { title, cover, desc, url, audioUrl, id } = Astro.props;
import { Image } from "@astrojs/image/components";
import astropodConf from "../../astropod.conf.cjs";
import PlayIcon from "./icons/playIcon.astro";
import PauseIcon from "./icons/pauseIcon.astro";

let cover_url = cover ? cover : astropodConf.cover;
---

<div class="">
  <div class="hero-content flex-col md:flex-row">
    <Image src={cover_url} aspectRatio="1:1" width={100} format="webp" alt={title} class="shadow-lg rounded-md" />
    <div class="grow w-full">
      <h1 class="text-xl font-semibold">
        {title}
      </h1>
      <p class="py-1 text-1xl">{desc}</p>
    </div>
    <label class="btn btn-circle mx-2 swap">
      <input type="checkbox" class="card-pay-buttons" id={id} data-audio-url={audioUrl} />
      <div class="swap-off">
        <PlayIcon />
      </div>
      <div class="swap-on">
        <PauseIcon />
      </div>
    </label>
  </div>
  <hr class="my-3" />
</div>