---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import HeaderCard from "../components/HeaderCard.astro";
import astropodConf from "../../astropod.conf.mjs";

const { title, description, pubDate, cover } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
---

<BaseLayout title={title} description={description} image={cover}>
  <HeaderCard title={title} subtitle={astropodConf.name} image={cover} />

  <main class="md:flex md:justify-center">
    <article class="card prose min-w-full prose-img:mx-auto bg-base-100 shadow-md p-8 mt-12">
      <slot />
    </article>
  </main>
</BaseLayout>
